.data {
    background-color: rgb(39, 181, 247);
    max-width: 80%;
    text-align: center;
  }
  .card {
    max-width: 800px;
    margin: 60px auto;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(218, 113, 199, 0.5);
    background: radial-gradient(
      circle at 1.3% 2.8%,
      rgb(239, 249, 249) 0%,
      rgb(41, 219, 222) 100.2%
    );
  }
  .city {
    max-width: 80%;
    margin: 0 auto;
  }
  .button {
    display: block;
    margin: 0 auto;
    background: rgb(48, 179, 57);
    color: rgb(36, 172, 174);
  }